[submodule "src/core"]
	path = src/core
	branch = master
	url = https://github.com/bernaljuanse/adapt-contrib-core.git
 	installBranch = v6.6.2
[submodule "src/core/adapt-contrib-core"]
	path = src/core/adapt-contrib-core
	url = https://github.com/bernaljuanse/adapt-contrib-core.git
[submodule "src/adapt-contrib-core"]
	path = src/adapt-contrib-core
	url = https://github.com/bernaljuanse/adapt-contrib-core.git
